.brand-image {
  width: 20px
}

.row .article {
  width: 100%;
  height: auto;
  background: #f5f5f5;
  margin-bottom: 20px
}

.row .article h1 {
  color: #101010
}

.star-block,
.comments-block {
  display: inline-block
}

.star-block {
  padding-bottom: 10px
}

.comments-block {
  float: right
}
