.brand-image {
  width: 20px
}

.article,
.article-index {
  width: 100%;
  height: auto;
  background: #f5f5f5;
  margin-bottom: 20px
}

.article-index p {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap
}

.row .article h1 {
  color: #101010
}

.star-block {
  cursor: pointer
}

.star-block,
.comments-block {
  display: inline-block
}

.star-block,
.article-count {
  padding-bottom: 10px
}

.comments-block {
  float: right
}

form textarea {
  margin-bottom: 15px;
  resize: none
}

.email-check {
  color: #9d9d9d
}

.add-article-link {
  display: none
}

h2 span {
  color: #337ab7
}
